@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,500;1,600&display=swap');

:root{
    --color-white: #fff;
    --color-dark1: #dae1e7;
    --color-dark2: #142850;
    --color-dark3: #414141;
    --color-dark4: #00909E;
    --color-dark5: #343434;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #DAE1E7;
}

.caixa-um{
    position: absolute;
    width: 600px;
    height: 580px;
    left: 130px;
    top: 199px;
    border-radius: 20px;
    background-color: black;
}
.fonte-caixa-um {
    position: absolute;
    left: 4.33%;
    right: 7.17%;
    top: 6%;
    bottom: 75.52%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}



.caixa-dois{
    position: absolute;
    width: 466px;
    height: 522px;
    left: 775px;
    top: 199px;
    background: #00909E;
    border-radius: 30px;
}

.fonte-caixa-dois{
    position: absolute;
    width: 402px;
    height: 138px;
    left: 35px;
    top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#img-caixa-1{
    position: absolute;
    left: 4%;
    right: 47.85%;
    top: 25%;
    bottom: 61.75%;
    border-radius: 30px;
    width: 550px;
    height: 410px;
}

#img-caixa-2{
    position: absolute;
    left: 3.8%;
    right: 12.22%;
    top: 35%;
    bottom: 64.25%;
    border-radius: 30px;
    width: 430px;
    height: 320px;
}

.caixa-tres{
    position: absolute;
    width: 600px;
    height: 534px;
    left: 130px;
    top: 811px;
    background: #AAD8D3;
    border-radius: 30px;
}

.fonte-caixa-tres{
    position: absolute;
    width: 529px;
    height: 192px;
    left: 4.37%;
    top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

h1{
    position: absolute;
    width: 529px;
    height: 192px;
    left: 25px;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #000000;
}

#img-caixa-3{
    position: absolute;
    width: 560px;
    height: 280px;
    left: 20px;
    top: 235px;
    border-radius: 30px;
}

.caixa-quatro{
    position: absolute;
    width: 489px;
    height: 595px;
    left: 760px;
    top: 750px;
    background: #393E46;
    border-radius: 30px;
}

.fonte-caixa-quatro{
    position: absolute;
    width: 402px;
    height: 138px;
    left: 50px;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#img-caixa-4{
    position: absolute;
    width: 450px;
    height: 310px;
    left: 18px;
    top: 265px;
    background: url(image.png);
    border-radius: 30px;
}

.caixa-cinco{
    position: absolute;
    width: 1110px;
    height: 337px;
    left: 133px;
    top: 1383px;
    background: #00ADB5;
    border-radius: 30px;
}

.fonte-caixa-cinco{
    position: absolute;
    width: 467px;
    height: 276px;
    left: 580px;
    top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    
}

#img-caixa-5{
    position: absolute;
    width: 520px;
    height: 300px;
    left: 20px;
    top: 22px;
    background: url(image.png);
    border-radius: 30px;
}

.box-caixas{
    cursor:zoom-in;
}

.box-caixas:hover {
    transform: scale(0.9);
    transition: 0.5s;
}

.invisiveis{
    display: none;
    gap: 5em;
   
}

@media screen and (max-width:768px){
    .invisiveis{
        display: block;
       
    }
}

footer{
    bottom: 0;
    position: static;
    width: 100%;
    text-align: center;
    background-color: var(--color-dark2);
    height: 125px;
    margin-top: 1800px;
}

.div-footer{
   padding-top: 20px;
}

#p-link{
    color: var(--color-dark1);
}

 .link-footer{
    color: var(--color-white);
    text-decoration: none;
    font-size:0.9em;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
}

.link-footer:hover{
    transition: 0.5s;
    cursor: pointer;
    color: rgba(221, 221, 29, 0.945);
    text-transform: uppercase;
}

.img-footer{
    height: 30px;
    width: 30px;
    padding-top: 5px;
}

.img-footer:hover{
    transform: scale(1.5);
    transition: 0.5s;
    padding-left: 5px;
    padding-right: 5px;
}

.link-image{
    padding-right: 5px;
    padding-left: 5px;
}

@media (min-width:1000px) and (max-width:1200px){
    .caixa-um{
        position: absolute;
        width: 400px;
        height: 450px;
        left: 60px;
        top: 180px;
    }
    .fonte-caixa-um {
        position: absolute;
        left: 4.33%;
        right: 7.17%;
        top: 6%;
        bottom: 75.52%;
        font-size: 18px;
        line-height: 20px;
    }

    #img-caixa-1{
        left: 6%;
        right: 47.85%;
        top: 30%;
        bottom: 61.75%;
        width: 350px;
        height: 250px;
    }
    
    .caixa-dois{
        position: absolute;
        width: 430px;
        height: 450px;
        left: 510px;
        right: 50px;
        top: 180px;
    }
    .fonte-caixa-dois {
        position: absolute;
        left: 4.33%;
        top: 6%;
        bottom: 75.52%;
        font-size: 16px;
        line-height: 20px;
    }

    #img-caixa-2{
        left: 6%;
        right: 47.85%;
        top: 30%;
        bottom: 61.75%;
        width: 370px;
        height: 270px;
    }
    
    .caixa-tres{
        position: absolute;
        width: 400px;
        height: 534px;
        left: 70px;
        top: 711px;
    }
    
    .fonte-caixa-tres{
        width: 370px;
        height: 192px;
        left: 4.37%;
        top: 80px;
    }
    
    h1{
        position: absolute;
        width: 390px;
        height: 192px;
        left: 10px;
        top: 20px;
        font-size: 25px;
    }
    
    #img-caixa-3{
        position: absolute;
        width: 350px;
        height: 250px;
        left: 20px;
        top: 260px;
        border-radius: 30px;
    }

    .caixa-quatro{
        width: 420px;
        height: 534px;
        left: 510px;
        top: 712px;
    }
    
    .fonte-caixa-quatro{
        width: 380px;
        height: 138px;
        left: 20px;
        top: 40px;
    }
    
    #img-caixa-4{
        width: 370px;
        height: 240px;
        left: 25px;
    }

    .caixa-cinco{
        width: 865px;
        height: 337px;
        left: 70px;
        top: 1383px;
    }
    
    .fonte-caixa-cinco{
        width: 300px;
        height: 276px;
        left: 500px;
        top: 28px;
        text-align: justify;
        font-size: 20px;
        line-height: 25px;
        
    }
    
    #img-caixa-5{
        width: 380px;
        height: 280px;
        left: 20px;
        top: 30px;
    }
    
}

@media (min-width:800px) and (max-width:999px){
    .caixa-um{
        position: absolute;
        width: 350px;
        height: 430px;
        left: 30px;
        top: 180px;
    }
    .fonte-caixa-um {
        position: absolute;
        left: 4.33%;
        right: 7.17%;
        top: 6%;
        bottom: 75.52%;
        font-size: 18px;
        line-height: 20px;
    }

    #img-caixa-1{
        left: 7%;
        right: 47.85%;
        top: 37%;
        bottom: 61.75%;
        width: 300px;
        height: 220px;
    }
    
    .caixa-dois{
        position: absolute;
        width: 350px;
        height: 430px;
        left: 420px;
        right: 50px;
        top: 180px;
    }
    .fonte-caixa-dois {
        position: absolute;
        left: 4.33%;
        top: 6%;
        bottom: 75.52%;
        font-size: 16px;
        line-height: 20px;
        width: 320px;
        height: 430px;
    }

    #img-caixa-2{
        left: 4%;
        right: 47.85%;
        top: 33%;
        bottom: 61.75%;
        width: 320px;
        height: 260px;
    }
    
    .caixa-tres{
        position: absolute;
        width: 360px;
        height: 500px;
        left: 30px;
        top: 711px;
    }
    
    .fonte-caixa-tres{
        width: 340px;
        height: 192px;
        left: 3%;
        top: 80px;
        font-size: 18px;
    }
    
    h1{
        position: absolute;
        width: 350px;
        height: 192px;
        left: 7px;
        top: 20px;
        font-size: 22px;
    }
    
    #img-caixa-3{
        position: absolute;
        width: 320px;
        height: 220px;
        left: 20px;
        top: 260px;
        border-radius: 30px;
    }

    .caixa-quatro{
        width: 360px;
        height: 500px;
        left: 430px;
        top: 712px;
    }
    
    .fonte-caixa-quatro{
        width: 340px;
        height: 138px;
        left: 10px;
        top: 40px;
        font-size: 18px;
    }
    
    #img-caixa-4{
        width: 320px;
        height: 220px;
        left: 25px;
        top: 240px;
    }

    .caixa-cinco{
        width: 765px;
        height: 317px;
        left: 40px;
        top: 1300px;
    }
    
    .fonte-caixa-cinco{
        width: 300px;
        height: 276px;
        left: 420px;
        top: 30px;
        text-align: justify;
        font-size: 18px;
        line-height: 25px;
        
    }
    
    #img-caixa-5{
        width: 340px;
        height: 240px;
        left: 20px;
        top: 40px;
    }
    
}

@media  (max-width: 450px){
    .caixa-um{
        position: absolute;
        width: 350px;
        height: 430px;
        left: 20px;
        top: 180px;
    }
    .fonte-caixa-um {
        position: absolute;
        left: 4.33%;
        right: 7.17%;
        top: 6%;
        bottom: 75.52%;
        font-size: 18px;
        line-height: 20px;
    }

    #img-caixa-1{
        left: 7%;
        right: 47.85%;
        top: 37%;
        bottom: 61.75%;
        width: 300px;
        height: 220px;
    }
    
    .caixa-dois{
        position: absolute;
        width: 350px;
        height: 430px;
        left: 20px;
        right: 50px;
        top: 680px;
    }
    .fonte-caixa-dois {
        position: absolute;
        left: 4.33%;
        top: 6%;
        bottom: 75.52%;
        font-size: 16px;
        line-height: 20px;
        width: 320px;
        height: 430px;
    }

    #img-caixa-2{
        left: 4%;
        right: 47.85%;
        top: 33%;
        bottom: 61.75%;
        width: 320px;
        height: 260px;
    }
    
    .caixa-tres{
        position: absolute;
        width: 360px;
        height: 500px;
        left: 15px;
        top: 1191px;
    }
    
    .fonte-caixa-tres{
        width: 340px;
        height: 192px;
        left: 3%;
        top: 80px;
        font-size: 18px;
    }
    
    h1{
        position: absolute;
        width: 350px;
        height: 192px;
        left: 7px;
        top: 20px;
        font-size: 22px;
    }
    
    #img-caixa-3{
        position: absolute;
        width: 320px;
        height: 220px;
        left: 20px;
        top: 260px;
        border-radius: 30px;
    }

    .caixa-quatro{
        width: 360px;
        height: 500px;
        left: 15px;
        top: 1800px;
    }
    
    .fonte-caixa-quatro{
        width: 340px;
        height: 138px;
        left: 10px;
        top: 40px;
        font-size: 18px;
    }
    
    #img-caixa-4{
        width: 320px;
        height: 220px;
        left: 25px;
        top: 240px;
    }

    .caixa-cinco{
        width: 360px;
        height: 570px;
        left: 15px;
        top: 2400px;
    }
    
    .fonte-caixa-cinco{
        width: 300px;
        left: 25px;
        top: 30px;
        text-align: justify;
        font-size: 18px;
        line-height: 25px;
        
    }
    
    #img-caixa-5{
        width: 320px;
        height: 240px;
        left: 20px;
        top: 300px;
    }

    footer{
        height: 130px;
        margin-top: 3200px;
    }
    
    .img-footer{
        height: 25px;
        width: 25px;
    }
    
    .link-footer{
        font-size: 0.8em;
    }  
}
